/*****************************************************************
***********************************************************
     2. GLOBAL STYLES FOR ALL PAGES
***********************************************************
**********************************************************************/

html, body {
    width: 100%;
    height: 100%;
  }
  body {
    font-family: 'Montserrat', sans-serif;
    max-width: 1400px;
    margin: auto;
    min-height: 100vh;
  }
  
  img {
    max-width: 100%;
    height: auto;
    /* margin-bottom: 2.5em;; */
  }
  
  /********************************************************
***********************************************************
     3. HEADER, H1, H2, NAV
***********************************************************
**************************************************************/

 .container {
    margin: 1.5em;
    font: 20px 'Montserrat', sans-serif; 
 }
  header {
    padding: .5em ;
    /* margin: 2.5em; */
    background-color: #fff;
    /* color: #2937B7; */
    /* margin: 1em; */
  }

  .logo {
    display: flex;
    flex-direction: row;
      /* width: 100%; */
  }
  
  a {
    text-decoration: none;
    color: #2937B7;
    font-weight: 500;
  }

  /*beginning nav*/

.navigation { margin-top: .8em; }

.navigation a {
  text-transform: uppercase;
  display: block;
  padding: .8em;
  font-size: 1em;
}

.navigation a:hover {  color: #4BA2C2; }

.navigation a:active {  color: #B232BD; }

.navigation li { border-bottom: solid 1px #B232BD; }

.navigation li:last-child {  border-bottom: solid 1px #B232BD; }

#nav nav { /********ID SELECTOR************/
  height :0;
  overflow: hidden;
}
/* 
body { -webkit-animation: bugfix infinite 1s; }

@-webkit-keyframes bugfix {
  from {padding:0;}
  to {padding:0;}
} */

/*end ach*/

#nav input[type=checkbox] {
    position: absolute;
    top: -999em;
    left: -999em;
  }
  
  #nav label {
    display: block;
    background:url(../images/mobile/nav-icon2.png)no-repeat right center ;
    margin-right: 1em;
    text-indent: -999em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  #nav input[type=checkbox]:checked ~ nav {
    height: auto;
    overflow: hidden;
  }
  /*end nav*/

   /********************************************************
***********************************************************
     4. MAIN
***********************************************************
**************************************************************/
 

  main div {
    /* margin: 1.5em; */
    padding: 1em 0;
    font-family: 'Source Sans Pro';
    line-height: 1.4em;
    font-weight: 300;
  }

 main h1, h2, h3 {
    color: #2848BE;
    font-size: 1.7em;
    font-weight: 400;
    margin-bottom: .6em;
    line-height: 1.1em;
  }

main h2 {
    /* color: #2848BE; */
    font-size: 1.3em;
    margin-bottom: .6em;
    font-weight: 400;
}

main h3 {
    font-weight: bold;;
}


.products a, .description a {
    color:#B232BD;
    font-weight: 400;
}

.prodPic, .bigManip, .smallManip, .PCBs, .screws {
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    justify-content:space-around;
    margin-bottom: 2em;

}

.marcelo img {
    margin-bottom: .5em;
}
.marcelo h3 {
    color:#B232BD;
    font-family: 'Montserrat';
    font-weight: 500;
    /* margin-top: .8em; */
}

.marcelo h4 {
    text-transform:uppercase;
}

.email {
    color: #B232BD;
    font-family: 'Montserrat';
    font-weight: 500;
}

/*beginning contact form*/


.contactForm {  min-height: 100vh; }

.contactForm p {
  font-size: 1.em;
  margin-bottom: .5em;
}

form {
  background-color: #fff;
  border: solid 1px #666;
  /* border-radius: 5px; */
  padding: 1em;
  margin-bottom: 2em;
}

fieldset {
  padding: 1em;
  margin-bottom: 1em;
  /* border: solid 1px #E97D13; */
  border-radius: 5px;
 
}

legend {  padding: .5em; }

form li {
  margin-bottom: .7em;
  padding: .2em;
}

input[type="radio"]+label, input[type="checkbox"]+label { /*********ATTRIBUTE SELECTOR*******/
  display: inline;
  padding-right: .5em;
}

input, textarea, select{
  padding: .5em;
  font-family: 'Montserrat', sans-serif;
  border: solid 1px #1161A2;
  border-radius: 3px;
  /* background-color: rgba(88, 169, 173, .2); */
}

.radio li {  display: inline-block; }

.span {
  padding-bottom: .5em;
  display: block;
}
/* .phoneFormat {
  display: block;
  color: #666;
  font-size: .8em;
} */

.rSign { font-size: 1.5em; }

#message {
  display: block;
  width: 100%;
  resize: none;
  height: 200px;
}

#required {
  color: black;
  margin: 0;
  padding: 0 0.2em 1em;
  font-size: 1em;
}

#submit {
  padding: 1em 10em;
  font-size: .8em;
  text-transform: uppercase;
  color: white;
  background-color:#B232BD;
  display: block;
  margin: auto;
}

#contactUs {
  margin: 1em auto;
  padding: 1em;
  background-color: #9BA9D7;
}

/* end  contact form */


 /********************************************************
***********************************************************
     5. FOOTER
***********************************************************
**************************************************************/

footer {
    /* font-size: 4.5em; */
    margin-top: 2.5em;
    color:#B232BD;
    /* background-color:#4BA2C2 ; */
    /* padding: 1.5em .5em; */
    /* max-width: 100vh; */
}

footer a {
    color:#B232BD;
    font-size: 1.3em;
    text-transform: uppercase;
    line-height: 1.5em;
    font-weight:900;
}


footer a:hover {  color: #4BA2C2; }

footer a:active {  color: #B232BD; }

.contactInfo {
    /* color:#B232BD; */
    font-size: 1em;
    font-weight:900;
}

.copy {
    font-size: .8em;
    color: gray;
}


/* article.description {
        background-color: #ada9aa;
        padding: 2em;
    
  } */
  /* .description p {
      line-height: 1.4em;
      font-size: 1.2em;
    
  } 

  .description h1, .catalogo h1 {
    font: 1.8em 'Roboto Condensed', sans-serif;
    margin: .5em .5em .5em 0;
    }

    div.catalogo {
        padding: 2em;
    }

.plasticParts, .PCBs, .screws {
    border: solid 2px rgb(170, 163, 163);
    border-radius: 5px;
    padding: 2em;
    margin: 1em;
}

.plasticParts h2, .PCBs h2, .screws h2 {
    font: 2em 'Roboto Condensed', sans-serif;
    margin: .5em .5em .5em 0;
    font-weight: bold;
    font-variant: small-caps;
    }

.plasticParts h3, .PCBs h3, .screws h3 {
    font: 1.5em 'Roboto Condensed', sans-serif;
    margin: 1em .5em .5em 0;
    }


.plasticParts h4, .PCBs h4, .screws h4 {
    font: 1.2em 'Roboto Condensed', sans-serif;
    margin: 2em .5em .5em 0;
    }
  


div.container {
    margin-top: 1em;
    line-height: 1.4em;
}

div.containerBig {
    padding-bottom: 1em;
    border-bottom: solid 1px rgb(185, 179, 179);
}

img {
    display: block;     
}


div.address {
    line-height: 1.5em;
    margin: 1em;
    padding: 1em;
} */
/* Media queries for big screen */

/* @media only screen and (min-width: 900px) { 
    .logo {
        display: flex;
        justify-content: center; */
        /* width: 50%; */
    /* }

    .containerBig, .containerSmall, .containerPcb, .containerScrew, .containerEIB, .containerFixture {
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows: 1fr*6;
        gap: 2em;
    }

   .plasticParts p {
    font-size: 1.2em;
    line-height: 1.3em;
   }
    
  

} */