/*****************************************************************
***********************************************************
     2. GLOBAL STYLES FOR ALL PAGES
***********************************************************
**********************************************************************/

html, body {
    width: 100%;
    height: 100%;
  }
  body {
    font-family: 'Montserrat', sans-serif;
    max-width: 1400px;
    margin: auto;
    min-height: 100vh;
  }
  
  img {
    max-width: 100%;
    height: auto;
    /* margin-bottom: 2.5em;; */
  }
  
  /********************************************************
***********************************************************
     3. HEADER
***********************************************************
**************************************************************/

 .container {
    /* margin: 1.5em; */
    font: 'Montserrat', sans-serif; 
 }
  header {
    /* padding: .5em ; */
    background-color: #c6ceea;
    margin-bottom: 0;
    /* margin: .6em 6em 0 6em; */
    /* margin: 2.5em; */
    /* background-color: #fff; */
    color: #2937B7;
  }

  .logo {
    display: flex;
    flex-direction: row;
    margin: .6em .6em 0 .6em;
      /* width: 100%; */
  }
  
  a {
    text-decoration: none;
    color: #2848BE;
    /* font-weight: bolder; */
  }

   /********************************************************
***********************************************************
     4. NAV
***********************************************************
**************************************************************/

.navigation { margin-top: .5em; }

.navigation ul {
  display: flex;
  flex-direction:row;
  justify-content: space-around;
}

.navigation li{
  padding: .4em;
  border-bottom: none;
  font-weight:400;
  font-family: 'Montserrat', sans-serif;
  }

/* .navigation li:last-child {  border-bottom: none; } */

.navigation a {
  text-transform: uppercase;
  display: block;
  padding: .8em;
  font-size: 1em;
}

.navigation a:hover {  color: #4BA2C2; }

.navigation a:active {  color: #B232BD; }


   /********************************************************
***********************************************************
     5. MAIN
***********************************************************
**************************************************************/
 

  main article {
    margin: 1em 1.5em 0 1.5em;;
    padding: .5em 0;
    font-family: 'Source Sans Pro';
    line-height: 1.4em;
    font-weight: 300;
  }

 main h1 {
    color: #2848BE;
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: .5em;
    line-height: 1.1em;
  }

main h2 {
    color: #B232BD;
    font-size: 1.3em;
    margin-bottom: .3em;
    font-weight: 400;
    margin: .5em .5em 1em .5em;
}

main h3 {
    /* font-weight: bold; */
    color:#2937B7;
    font-family: 'Montserrat';
    font-weight: 500;
   
}
 
 #founder {
  margin: .5em .5em 1em .5em; 
}

article p {
  margin: .5em .5em 1em .5em;
}
.products a, .description a {
    color:#B232BD;
    font-weight: 400;
    /* margin: .5em .5em 1em .5em; */
}

.prodPic, .bigManip, .smallManip, .PCBs, .screws {
    display: flex;
    flex-wrap: wrap;
    gap: 0 2em;
    justify-content:space-around;
    margin-bottom: .5em;
    /* margin: 0; */
}

/* .prodPic, .bigManip, .smallManip, .PCBs, .screws article {
  margin: 0;
  /* margin: 0; */
} */
/* div.descP , div.marcelo {
  margin: 0;
} */

.marcelo img {
    margin-bottom: .4em;
    border-radius: 10em;
    border: solid 1px #2937B7;
    position: center;
}
/* .marcelo h3 {
    color:#B232BD;
    font-family: 'Montserrat';
    font-weight: 500;
    /* margin-top: .8em; */


.marcelo h4 {
    text-transform:uppercase;
}

.email {
    color: #B232BD;
    font-family: 'Montserrat';
    font-weight: 500;
    margin: .5em .5em 1em .5em;
}

.DEI ul li::before {
  content: "\2022"; 
  color:#2937B7;
  display: inline-block; 
  width: 1.5em; 
  margin-left: 1em; 
} 

 /********************************************************
***********************************************************
     5. CONTACT FORM
***********************************************************
**************************************************************/

.contactForm {  min-height: 100vh; }

.contactForm p {
  font-size: 1em;
  margin-bottom: .5em;
}

form {
  background-color: #fff;
  border: solid 1px #666;
  /* border-radius: 5px; */
  padding: 1em;
  margin-bottom: 2em;
}

fieldset {
  padding: 1em;
  margin-bottom: 1em;
  /* border: solid 1px #E97D13; */
  border-radius: 5px;
}

legend {  padding: .5em; }

form li {
  margin-bottom: .7em;
  padding: .2em;
}

input[type="radio"]+label, input[type="checkbox"]+label { /*********ATTRIBUTE SELECTOR*******/
  display: inline;
  padding-right: .5em;
}

input, textarea, select{
  padding: .5em;
  font-family: 'Montserrat', sans-serif;
  border: solid 1px #1161A2;
  border-radius: 3px;
  /* background-color: rgba(88, 169, 173, .2); */
}

.radio li {  display: inline-block; }

.span {
  padding-bottom: .5em;
  display: block;
}
/* .phoneFormat {
  display: block;
  color: #666;
  font-size: .8em;
} */

.rSign { font-size: 1.5em; }

#message {
  display: block;
  width: 100%;
  resize: none;
  height: 200px;
}

#required {
  color: black;
  margin: 0;
  padding: 0 0.2em 1em;
  font-size: 1em;
}

#submit {
  padding: 1em 10em;
  font-size: .8em;
  text-transform: uppercase;
  color: white;
  background-color:#B232BD;
  display: block;
  margin: auto;
}

#contactUs {
  margin: 1em auto;
  padding: 1em;
  background-color: #9BA9D7;
}

 /********************************************************
***********************************************************
     5. FOOTER
***********************************************************
**************************************************************/

footer div {
    padding: 1em ;
    background-color: #c6ceea;
    /* margin: 2.5em; */
    margin-top: 2em;
    color:#B232BD;
    font-family: 'Source Sans Pro';
    /* padding: 1.5em .5em; */
    /* max-width: 100vh; */
}

footer a {
    color:#B232BD;
    /* font-size: 1.1em; */
    /* text-transform: uppercase; */
    line-height: 1.5em;
    /* font-weight:bold; */
}

footer a:hover {  color: #4BA2C2; }

footer a:active {  color:#2937B7; }

.copy {
    font-size: .8em;
    color: gray;
    line-height: 2em;
}


/* beginning Medium size screen*/

@media screen and (min-width:601px) {

  /* .navigation { */
    /* all: unset; */
    /* margin: 1.5em 1.5em; */
  /* } */

  .navigation ul {
    justify-content:flex-start;
  }
  
  /* #nav label {  display: none; } */
  
 
  /* .navigation li{
    padding: .4em;
    border-bottom: none;
    font-weight:400;
    font-family: 'Montserrat', sans-serif;
    } */
  
  /* .navigation li:last-child {  border-bottom: none; } */ 

  /* header {
    background-color: #c6ceea;
  } */

  .description {
    background-color: #dfe3f3;
    padding: 2em;
    margin: 2em;
  }

  /*******************************************FIX THIS ***********************
  ************************************************************************************
  ***************************************************************
  ***************************************************************
  ***************************************************************/
 
.grouping2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.5em;
  /* margin: 0; 
}

/* .about div, .DEI div {
  margin: 0;
padding: 0;}
}  */

/* div.#about, div.DEI {
  margin: 2em;
} */


}

/* article.description {
        background-color: #ada9aa;
        padding: 2em;
    
  } */
  /* .description p {
      line-height: 1.4em;
      font-size: 1.2em;
    
  } 

  .description h1, .catalogo h1 {
    font: 1.8em 'Roboto Condensed', sans-serif;
    margin: .5em .5em .5em 0;
    }

    div.catalogo {
        padding: 2em;
    }

.plasticParts, .PCBs, .screws {
    border: solid 2px rgb(170, 163, 163);
    border-radius: 5px;
    padding: 2em;
    margin: 1em;
}

.plasticParts h2, .PCBs h2, .screws h2 {
    font: 2em 'Roboto Condensed', sans-serif;
    margin: .5em .5em .5em 0;
    font-weight: bold;
    font-variant: small-caps;
    }

.plasticParts h3, .PCBs h3, .screws h3 {
    font: 1.5em 'Roboto Condensed', sans-serif;
    margin: 1em .5em .5em 0;
    }


.plasticParts h4, .PCBs h4, .screws h4 {
    font: 1.2em 'Roboto Condensed', sans-serif;
    margin: 2em .5em .5em 0;
    }
  


div.container {
    margin-top: 1em;
    line-height: 1.4em;
}

div.containerBig {
    padding-bottom: 1em;
    border-bottom: solid 1px rgb(185, 179, 179);
}

img {
    display: block;     
}


div.address {
    line-height: 1.5em;
    margin: 1em;
    padding: 1em;
} */
/* Media queries for big screen */

/* @media only screen and (min-width: 900px) { 
    .logo {
        display: flex;
        justify-content: center; */
        /* width: 50%; */
    /* }

    .containerBig, .containerSmall, .containerPcb, .containerScrew, .containerEIB, .containerFixture {
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows: 1fr*6;
        gap: 2em;
    }

   .plasticParts p {
    font-size: 1.2em;
    line-height: 1.3em;
   }
    
  

  