/*****************************************************************
***********************************************************
     2. GLOBAL STYLES FOR ALL PAGES
***********************************************************
**********************************************************************/

html, body {
    width: 100%;
    height: 100%;
  }
  body {
    font-family: 'Montserrat', sans-serif;
    max-width: 1400px;
    margin: auto;
    min-height: 100vh;
  }
  
  img {
    max-width: 100%;
    height: auto;
    /* margin-bottom: 2.5em;; */
  }
  
  /********************************************************
***********************************************************
     3. HEADER
***********************************************************
**************************************************************/

 .container {
    /* margin: 1.5em; */
    font: 'Montserrat', sans-serif; 
 }
  header {   
    background-color: #c6ceea;
    margin-bottom: 0;
    color: #2937B7;
  }

  .logo {
    display: flex;
    flex-direction: row;
    margin: .6em .6em 0 .6em;
  }
  
  a {
    text-decoration: none;
    color: #2848BE;
  }

   /********************************************************
***********************************************************
     4. NAV
***********************************************************
**************************************************************/

.navigation { margin-top: .5em; }

.navigation ul {
  display: flex;
  flex-direction:row;
  justify-content: space-around;
}

.navigation li{
  padding: .4em;
  border-bottom: none;
  font-weight:400;
  font-family: 'Montserrat', sans-serif;
  }

.navigation a {
  text-transform: uppercase;
  display: block;
  padding: .8em;
  font-size: 1em;
}

.navigation a:hover {  color: #4BA2C2; }

.navigation a:active {  color: #B232BD; }


   /********************************************************
***********************************************************
     5. MAIN
***********************************************************
**************************************************************/
 

  main article {
    margin: 1em 1.5em 0 1.5em;;
    padding: .5em 0;
    font-family: 'Source Sans Pro';
    line-height: 1.4em;
    font-weight: 300;
  }

 main h1 {
    color: #2848BE;
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: .5em;
    line-height: 1.1em;
  }

main h2 {
    color: #B232BD;
    font-size: 1.3em;
    margin-bottom: .3em;
    font-weight: 400;
    margin: .5em .5em 1em .5em;
}

main h3 {
    color:#2937B7;
    font-family: 'Montserrat';
    font-weight: 500;
   
}

#catalogue {
  color:#2937B7;
}
 
.marcelo h3 {
  margin: .5em .5em 1em .5em; 
}

article p {
  margin: .5em .5em 1em .5em;
}
.products a, .description a {
    color:#B232BD;
    font-weight: 400;
}

.prodPic, .bigManip, .smallManip, .PCBs, .screws {
    display: flex;
    flex-wrap: wrap;
    gap: 0 2em;
    justify-content:space-around;
    margin-bottom: .5em;
}

#marceloPic {
  border-radius: 10em;
  border: solid 1px #2937B7;
}

.marcelo h2, .marcelo h3, .marcelo a {
    margin: .2em 0 ;
}

.email {
    color: #2937B7;
    font-family: 'Montserrat';
    font-weight: 500;
}

.DEI ul li::before {
  content: "\2022"; 
  color:#2937B7;
  display: inline-block; 
  width: 1.5em; 
  margin-left: 1em; 
} 

 /********************************************************
***********************************************************
     5. CONTACT FORM
***********************************************************
**************************************************************/

.contactForm {  min-height: 100vh; }

.contactForm p {
  font-size: 1em;
  margin-bottom: .5em;
}

form {
  background-color: #fff;
  border: solid 1px #666;
  padding: 1em;
  margin-bottom: 2em;
}

fieldset {
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 5px;
}

legend {  padding: .5em; }

form li {
  margin-bottom: .7em;
  padding: .2em;
}

input[type="radio"]+label, input[type="checkbox"]+label { /*********ATTRIBUTE SELECTOR*******/
  display: inline;
  padding-right: .5em;
}

input, textarea, select{
  padding: .5em;
  font-family: 'Montserrat', sans-serif;
  border: solid 1px #1161A2;
  border-radius: 3px;
}

.radio li {  display: inline-block; }

.span {
  padding-bottom: .5em;
  display: block;
}

.rSign { font-size: 1.5em; }

#message {
  display: block;
  width: 100%;
  resize: none;
  height: 200px;
}

#required {
  color: black;
  margin: 0;
  padding: 0 0.2em 1em;
  font-size: 1em;
}

#submit {
  padding: 1em 10em;
  font-size: .8em;
  text-transform: uppercase;
  color: white;
  background-color:#B232BD;
  display: block;
  margin: auto;
}

#contactUs {
  margin: 1em auto;
  padding: 1em;
  background-color: #9BA9D7;
}

 /********************************************************
***********************************************************
     5. FOOTER
***********************************************************
**************************************************************/

footer div {
    padding: 1em ;
    background-color: #c6ceea;
    margin-top: 2em;
    color:#B232BD;
    font-family: 'Source Sans Pro';
}

footer a {
    color:#B232BD;
    line-height: 1.5em;
}

footer a:hover {  color: #4BA2C2; }

footer a:active {  color:#2937B7; }

.copy {
    font-size: .8em;
    color: gray;
    line-height: 2em;
}


/* beginning Medium and desktop size screen*/

@media screen and (min-width:601px) {

  .navigation ul {
    justify-content:flex-start;
  }

  main {
    margin-left: 2.5em;
    margin-right: 2.5em;
  }
 
  /*******ABOUT US HOME*********/
.grouping2 {
  display: grid;
  gap: 2em;
}

#p1 {
  grid-column: 1 / span 3 ;
  grid-row: 1 / 1;
}
#marceloInfo {
  grid-column: 1/ 2;
  grid-row: 2 / 3;
}

#descPic {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.marcelo h2, .marcelo h3, .marcelo a {
  margin: .1em;
}
}

  